.logo {
    display: flex;
}

.logo_object {
    width: 160px;
    height: 30px;
}

.logo_path {
    @extend %transition;
}


.logo_svg {
    cursor: pointer;

    &:hover {
        .logo_path {
            fill: $color-primary;
        }
    }
}