.tools__wrapper {
    padding-bottom: 90px;
    background-image: url(../../img/backgrounds/additional.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tool_container {
    @include media-tablet {
        flex-wrap: wrap;

        >.tool {
            flex-basis: 43%;
            margin-bottom: 47px;
        }
    }

    @include media-mobile {
        flex-wrap: wrap;

        >.tool {
            flex-basis: 100%;
        }
    }
}

.tool {
    text-align: center;
}

.tools__title {
    max-width: 462px;
    margin: auto;
    margin-bottom: 70px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;

    @include media-mobile {
        margin-top: 0;
    }
}

//Tool Block
.tool_title {
    margin: 0 0 16px;

}

// .tool_text {}

.tool_icon {
    margin-bottom: 70px;
}